# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter Notebook kernel connection files
*.kernel.json

# Ignore Jupyter Notebook output files
*.nbconvert/

# Ignore virtual environment folders (example: virtualenv, pipenv)
venv/
env/
.venv/
.virtualenv/
pipenv/
# Ignore Jupyter Notebook execution records
*.ipynb_checkpoints/

# Ignore Jupyter Notebook output files
*.nbconvert/


# Ignore large data files
*.mat
*.h5
*.npy

# Ignore softlinks
**/pregit

**/GeoAvg/tmp.*

# Ignore slurm logs
**/slurm-out/


# Ignore temporary files of GAMESS
**/GeoAvg/tmp.*

# local explanatory text files
**/MATdir.txt

alloc-profile.pb.gz
